@import url(//db.onlinewebfonts.com/c/9ab8abd11c40ee5c8d1905f9c9cb9ac8?family=Futura);

body {
  margin: 0;
  overflow: hidden;
}

.main-img {
  height: 100vh;
  width: 100vw;
}

.navigation {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 10px 30px;
  background-color: rgb(50, 50, 50);
  width: 100vw;
  box-sizing: border-box;
  font-family: 'Futura';
  color: white;
  justify-content: flex-end;
}

.brand {
  height: 2rem;
  margin-right: 3px;
}

.brand-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  left: 30px;
}

.navigation-item {
  margin-left: 10px;
}

#section1 {
  /* position: relative; */
  display: flex;
  justify-content: center;
  background-color: black;
  background-image: url('../images/background.png') !important;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Futura';
}

.member-wrapper {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  grid-auto-rows: minmax(100px, auto);
  color: white;
}

.member {
  width: 15rem;
  transition: 0.5s;
}

.category-wrapper {
  position: relative;
}

.category {
  width: max-content;
  display: inline-block;
  position: absolute;
  top: -30px;
  left: 0;
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 0;
}

.member:hover {
  transform: scale(2);
}

#section3 {
  background-color: #000;
  color: #fff;
  font-family: 'Futura';
  position: relative;
}

.logo {
  height: 5rem;
  width: auto;
  display: inline-block;
}

.title {
  padding: 30px 0 0 30px;
  display: flex;
  align-items: center;
}

.contact-1 {
  position: absolute;
  left: 30px;
  bottom: 150px;
}

.contact-2 {
  position: absolute;
  right: 30px;
  bottom: 90px;
  float: right;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  margin: 0;
  margin-top: 10px;
}
